<h1>Stupid Coaching</h1>
<div class="container question">
  <%= @question %>
  <h2>-You</h2>
</div>
<br>
<div class="container answer">
  <%= @answer %>
  <h2>-Your Coach</h2>
</div>
<br>

<%= link_to "Ask a new question", root_path %>
